        body {
            font-family: Arial, sans-serif;
        }

        .container  {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

         .form-section{
            display: flex;
            flex-direction: column;
         }
        form {
            width: 350px;
            background: #fff;
            padding: 25px;
            border-radius: 8px;
            /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
            :hover {
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
            }
        }

        input {
            width: 100%;
            margin-bottom: 8px;
            padding: 10px 0px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .error {
            color: red;
            font-size: 13px;
            margin-bottom: 10px;
            display: block;
        }

        button {
            width: 100%;
            padding: 10px;
            background: black;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background: #333;
        }